:root {
  --primary: #423e37;
  --secondary: #e3b23c;
  --text-primary: #edebd7;
  --text-secondary: #a39594;
  --text-dim: #6e675f;
}
body {
  font-family: "poppins", sans-serif;
  margin: 0;
  background-color: var(--text-dim);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.header h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 8px;
  cursor: default;
}
.header p {
  text-transform: capitalize;
  margin-top: 0;
  cursor: default;
}
.header {
  width: 100vw;
  background-color: var(--secondary);
  text-align: center;
  padding: 2px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  margin-top: 0;
  box-shadow: 0 1px 10px black;
  transition: 0.3s;
  position: relative;
}
.header:hover {
  background-color: white;
  color: var(--secondary);
  padding-bottom: 80px;
}
.header:hover .hidden-bio {
  opacity: 1;
}
.hidden-bio {
  position: absolute;
  font-size: 12px;
  max-width: 80%;
  line-height: 180%;
  opacity: 0;
  bottom: 5%;
  transition: 0.5s;
  text-transform: lowercase;
}

.expense-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 70%;
}
.expense-header h2 {
  letter-spacing: 3px;
  color: var(--text-primary);
}
.add-btn {
  padding: 10px 20px;
  font-family: "poppins", sans-serif;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--text-secondary);
  color: var(--text-primary);
  cursor: pointer;
  transition: 0.3s;
}
.add-btn:hover {
  background-color: var(--secondary);
}
.add-btn:active {
  opacity: 0.6;
}

.expense-table table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.expense-table th {
  background-color: #f2f2f2;
}
.expense-table td {
  color: var(--text-primary);
}
.expense-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delet-col {
  width: 40px;
}
#dlt-btn {
  width: 30px;
  cursor: pointer;
  mix-blend-mode: hard-light;
  transition: 0.2s;
}
#dlt-btn:hover {
  scale: 0.8;
}
