:root {
  --primary: #423e37;
  --secondary: #e3b23c;
  --text-primary: #edebd7;
  --text-secondary: #a39594;
  --text-dim: #6e675f;
}
body {
  font-family: "poppins", sans-serif;
  margin: 0;
  background-color: var(--text-dim);
}

.header h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 8px;
  transition: 0.3s;
}
.header p {
  text-transform: capitalize;
  margin-top: 0;
}
.header {
  width: 100vw;
  background-color: var(--secondary);
  text-align: center;
  padding: 2px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  margin-top: 0;
  box-shadow: 0 1px 10px black;
  transition: 0.3s;
  position: relative;
}
.header:hover {
  background-color: var(--text-secondary);
  color: var(--text-primary);
  padding-bottom: 80px;
}
.header:hover .hidden-bio {
  opacity: 1;
}
.hidden-bio {
  position: absolute;
  font-size: 12px;
  max-width: 80%;
  line-height: 180%;
  opacity: 0;
  bottom: 5%;
  transition: 0.5s;
}
