:root {
  --primary: #423e37;
  --secondary: #e3b23c;
  --text-primary: #edebd7;
  --text-secondary: #a39594;
  --text-dim: #6e675f;
}
body {
  font-family: "poppins", sans-serif;
  margin: 0;
  background-color: var(--text-dim);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.header h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 8px;
  cursor: default;
}
.header p {
  text-transform: capitalize;
  margin-top: 0;
  cursor: default;
}
.header {
  width: 100vw;
  background-color: var(--secondary);
  text-align: center;
  padding: 2px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  margin-top: 0;
  box-shadow: 0 1px 10px black;
  transition: 0.3s;
  position: relative;
}
.header:hover {
  background-color: white;
  color: var(--secondary);
  padding-bottom: 150px;
}
.header:hover .hidden-bio {
  opacity: 1;
}
.hidden-bio {
  position: absolute;
  font-size: 12px;
  max-width: 80%;
  line-height: 180%;
  opacity: 0;
  bottom: 5%;
  transition: 0.5s;
  letter-spacing: 3px;
  text-transform: lowercase;
}

.expense-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 70%;
}
.expense-header h2 {
  letter-spacing: 3px;
  color: var(--text-primary);
  font-variant: small-caps;
}
.add-btn {
  padding: 10px 20px;
  font-family: "poppins", sans-serif;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--secondary);
  color: var(--text-primary);
  cursor: pointer;
  transition: 0.3s;
}
.add-btn:hover {
  background-color: var(--text-primary);
  color: var(--secondary);
}
.add-btn:active {
  opacity: 0.6;
}

.expense-table table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.expense-table th {
  background-color: #f2f2f2;
}
.expense-table td {
  color: var(--text-primary);
}
.expense-table tr {
  transition: 0.2s;
}
.expense-table tr:hover {
  background-color: #423e37;
}
.expense-table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delet-col {
  width: 20px;
}
.dlt-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
}
.dlt-btn:hover {
  background-color: red;
  border-color: red;
}
.dlt-btn:active {
  opacity: 0.6;
}
#stats-table {
  margin-top: 50px;
}

.form-section {
  position: absolute;
  display: none;
  inset: 0;
  background-color: #423e3770;
  align-items: center;
  justify-content: center;
}
.expense-form {
  background-color: var(--text-primary);
  width: 40%;
  height: fit-content;
  padding: 30px;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.expense-form p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
}
.form-label {
  margin-bottom: 2px;
  font-size: 14px;
}
.form-element {
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 7px 10px;
  transition: 0.2s;
  outline: none;
  border: 1px solid var(--primary);
  font-family: "poppins", sans-serif;
}
.form-element:focus {
  border: 1px solid var(--secondary);
}
.form-element:hover {
  background-color: #e3b23c;
  color: white;
}
.form-element:hover::placeholder {
  color: white;
}
.form-input {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.price,
.currency {
  display: flex;
  flex-direction: column;
}
.currency {
  flex: 1;
}
.price {
  flex: 2;
}

.add-action-btn {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--text-primary);
  background-color: var(--text-dim);
  color: var(--text-primary);
  cursor: pointer;
  transition: 0.2s;
}
.add-action-btn:hover {
  background-color: var(--secondary);
}
.add-action-btn:active {
  opacity: 0.6;
}
.cancel-action-btn {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--text-primary);
  background-color: var(--primary);
  color: var(--text-primary);
  cursor: pointer;
  transition: 0.2s;
}
.cancel-action-btn:hover {
  background-color: red;
}
.cancel-action-btn:active {
  opacity: 0.6;
}
button {
  font-family: "poppins", sans-serif;
}
.form-actions {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
  gap: 10px;
}

#empty-list {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  margin-top: 50px;
}
#empty-list img {
  width: 100px;
}
.stats {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.stats h3 {
  margin: 0;
  padding: 10px 20px;
  font-variant: small-caps;
  letter-spacing: 2px;
  background-color: var(--text-primary);
  border-radius: 5px;
  transition: 0.2s;
  cursor: default;
}
#totalExpenses {
  color: var(--secondary);
}
.stats h3:hover {
  background-color: var(--primary);
  color: var(--text-primary);
}
